@model StudyingMvcCore.App.ViewModels.ErrorViewModel
@{
    ViewData["Title"] = "Error";
}

@{
    if (Model == null)
    {
        <div>
            <h2>Ooops! An error ocurred, but we're working to fix it!</h2>
        </div>
    }
    else
    {
        <h1>@Html.Raw(Model.Title)</h1>
        <h2 class="text-danger">@Html.Raw(Model.Message)</h2>
    }
}

